@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
  --font-Rubik: "Rubik", "sans-serif";
  --color-primary-blue: hsl(231, 69%, 60%);
  --color-primary-red: hsl(0, 94%, 66%);

  --color-neutral-grey: hsl(0, 0%, 97%);
  --color-neutral-blue: hsl(229, 31%, 21%);
}

[data-dropdown-menu] {
  transition-property: max-height, opacity, margin;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
